@font-face {
  font-family: 'SFNS Display';
  src: url('System San Francisco Display Bold.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Display Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Display Bold.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Display Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Display Bold.svg#d0302eaa9baa2904e902ad889ccb5e9f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'SFNS Display';
  src: url('System San Francisco Display Regular.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Display Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Display Regular.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Display Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Display Regular.svg#50873b88e3c5cd80262f7378225fbd5f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SFNS Display';
  src: url('System San Francisco Display Thin.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Display Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Display Thin.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Display Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Display Thin.svg#4378f5b41d6994e2be707d90b87773f9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'SFNS Display';
  src: url('System San Francisco Display Ultralight.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Display Ultralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Display Ultralight.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Display Ultralight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Display Ultralight.svg#87b684eb363a7d9718ac971d429414c8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'SFNS Text';
  src: url('System San Francisco Text BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Text BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Text BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Text BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Text BoldItalic.svg#dafe8d7614497fe2d09b826aa3062825') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'SFNS Text';
  src: url('System San Francisco Text Medium.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Text Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Text Medium.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Text Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Text Medium.svg#aa81b42a6680ae7abc92a4cb86f61473') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SFNS Text';
  src: url('System San Francisco Text MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Text MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Text MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Text MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Text MediumItalic.svg#7a7c5d2c10b62e045352253376048bac') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'SFNS Text';
  src: url('System San Francisco Text RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('System San Francisco Text RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('System San Francisco Text RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('System San Francisco Text RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('System San Francisco Text RegularItalic.svg#333eec57c0d5f2d3d8ed2fab2d2f14e0') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

